{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/flowtype",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["prettier", "flowtype"],
  "env": {
    "es6": true,
    "jest": true
  },
  "rules": {
    "quotes": ["error", "double"],
    "comma-dangle": "off",
    "no-console": "off",
    "prettier/prettier": "error",
    "curly": 0
  }
}
